.dashboard-main {
  padding: "32px";
}

.div-stats-overview {
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.div-pie-and-topclicks {
  display: flex;
  gap: 200px;
  justify-content: center;
  margin-top: 30px;
}
