.the-head {
  background-color: #4d2c91;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.header-title {
  margin-left: 50px;
}


nav {
 display: flex;
  gap: 30px; /* רווח של 30px בין הקישורים */
  margin-right: 70px; /* אם את רוצה לדחוף הכל מהצד הימני */
  align-items: center;


}

.link {
  color: white;
}

.link-active {
  font-weight: bold;
  text-decoration: underline;
    color: white;

}
