.frame-div {
  padding: 24px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.top-click-title {
  margin-bottom: 30px;
}
.ad-div {
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: white;
  font-weight: bold;
  transition: width 0.5s ease;
}

.space-object-div {
  margin-bottom: 12px;
}
